.advantages-list-item {
  position: relative;
}

.advantages-list-item__advantage {
  display: block;
  padding-top: 86px;
  font-size: $main-fontsize + 2;
  line-height: $main-lineheight - 4;
  font-weight: bold;
}

.advantages-list-item__advantage.flower::before {
  content: "";
  width: 34px;
  height: 37px;
  position: absolute;
  top: 30px;
  left: 5px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
}

.advantages-list-item__advantage.money::before {
  content: "";
  width: 47px;
  height: 37px;
  position: absolute;
  top: 30px;
  left: 5px;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
}

.advantages-list-item__advantage.heart::before {
  content: "";
  width: 34px;
  height: 37px;
  position: absolute;
  top: 30px;
  left: 5px;
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
}

.advantages-list-item__advantage.ball::before {
  content: "";
  width: 34px;
  height: 37px;
  position: absolute;
  top: 30px;
  left: 5px;
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
}

.advantages-list-item__advantage.rocket::before {
  content: "";
  width: 56px;
  height: 37px;
  position: absolute;
  top: 30px;
  left: 5px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
}

.advantages-list-item__advantage.gift::before {
  content: "";
  width: 34px;
  height: 37px;
  position: absolute;
  top: 30px;
  left: 5px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet) {
  .advantages-list-item {
    width: 334px;
  }
}

@media (min-width: $desktop) {
  .advantages-list-item {
    width: 350px;
  }

  .advantages-list-item__advantage {
    font-size: $main-fontsize + 5;
    line-height: $main-lineheight - 2;
  }
}
