.color-fieldset {
}

.color-fieldset__fieldset {
  position: relative;
  overflow: hidden;
}

.color-fieldset__name {
  width: 62px;
  color: $tiffany;
  text-transform: uppercase;
}

.color-fieldset__name::after {
  @include fieldset-type-line;
}

.color-fieldset__form {
  padding-top: 37px;
  padding-left: 62px;
  position: relative;
}

.color-fieldset__form-element {
  position: relative;
}

.color-fieldset__label {
  display: block;
  margin-bottom: 42px;
}

.color-fieldset__label::before {
  @include custome-input;
}

@media (min-width: $tablet) {
  .color-fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $bg-color-gray;
  }

  .color-fieldset__fieldset {
    display: flex;
    flex-direction: row;
    height: 237px;
    padding-top: 67px;
  }

  .color-fieldset__name {
    width: 167px;
  }

  .color-fieldset__name::after {
    display: none;
  }

  .color-fieldset__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 72px;
    width: 500px;
    padding: 0;
  }

  .color-fieldset__label {
    width: 167px;
    padding-left: 82px;
  }

  .color-fieldset__label::before {
    left: -4px;
  }
}

@media (min-width: $desktop) {
  .color-fieldset__name {
    width: 175px;
    text-align: center;
  }

  .color-fieldset__form {
    width: 875px;
  }

  .color-fieldset__fieldset {
    height: 167px;
  }
}
