.color-fieldset {
}

.color-fieldset__fieldset {
  position: relative;
  overflow: hidden;
}

.color-fieldset__name {
  width: 62px;
  color: $tiffany;
  text-transform: uppercase;
}

.color-fieldset__name::after {
  @include fieldset-type-line;
}

.color-fieldset__form {
  padding-top: 37px;
  padding-left: 62px;
  position: relative;
}

.color-fieldset__label {
  display: block;
  margin-bottom: 42px;
}

.color-fieldset__label::before {
  @include custome-input;
}

.color-fieldset__label[for="white"]::before {
  top: 26px;
}

.color-fieldset__label[for="gray"]::before {
  top: 86px;
}

.color-fieldset__label[for="tiffany"]::before {
  top: 146px;
}

.color-fieldset__label[for="black"]::before {
  top: 206px;
}

.color-fieldset__label[for="pink"]::before {
  top: 266px;
}

.color-fieldset__label[for="orange"]::before {
  top: 326px;
}

@media (min-width: $tablet) {
  .color-fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .color-fieldset__fieldset {
    display: flex;
    flex-direction: row;
    height: 237px;
    margin-top: 67px;
    // flex-wrap: wrap;
  }

  .color-fieldset__name {
    width: 167px;
  }

  .color-fieldset__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 72px;
    width: 500px;
    padding: 0;
  }

  .color-fieldset__label {
    width: 167px;
    padding-left: 82px;
  }
}

@media (min-width: $desktop) {
  .color-fieldset__name {
    width: 175px;
    text-align: center;
  }
}
