.contact-data-fieldset {
  @include outline;

  padding-bottom: 34px;
}

.contact-data-fieldset__input,
.contact-data-fieldset__label {
  display: block;
}

.contact-data-fieldset__label {
  color: $tiffany;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-data-fieldset__input {
  height: 50px;
  border: none;
  border-bottom: 1px solid $black;
  width: 100%;
}

@media (min-width: $tablet) {
  .contact-data-fieldset {
    padding-bottom: 50px;    
  }

  .contact-data-fieldset__element {
    display: flex;
  }

  .contact-data-fieldset__label {
    width: 167px;
    margin-top: 68px;
  }

  .contact-data-fieldset__input {
    flex-grow: 1;
    margin-top: 50px;
  }
}

@media (min-width: $desktop) {
  .contact-data-fieldset__label {
    width: 175px;
  }

  .contact-data-fieldset {
    margin-right: 175px;
  }
}
