.contacts {
  padding-bottom: 40px;
}

.contacts__heading {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: $main-fontsize + 3;
  line-height: $main-lineheight + 6;
}

.contacts__map {
  width: 100vw;
  height: 458px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
}

.contacts__feedback {
  @include main-btn;

  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet) {
  .contacts__map {
    left: -50px;
    width: $tablet;
    background-image: url("../img/map-tablet@1x.jpg");
    margin-bottom: 55px;
  }

  .contacts__heading {
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: $main-fontsize + 28;
    line-height: $main-lineheight + 24;
  }

  .contacts__heading::after {
    content: "";
    position: absolute;
    right: 50px;
    width: 50px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts {
    padding-bottom: 56px;
  }

  .contacts__feedback {
    width: 230px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__info-wrapper,
  a.contacts__feedback {
    margin-left: 175px;
    width: 350px;
  }

  .contacts__map {
    width: 525px;
    left: 0;
    top: 73px;
  }
}
