.contact-data-fieldset {
}

.contact-data-fieldset__element {
  position: relative;
  overflow: hidden;
  height: 74px;
  margin-bottom: 32px;
}

.contact-data-fieldset__input,
.contact-data-fieldset__label--tel,
.contact-data-fieldset__label--email {
  display: block;
}

.contact-data-fieldset__label--tel,
.contact-data-fieldset__label--email {
  color: $tiffany;
  text-transform: uppercase;
  width: 62px;
}

.contact-data-fieldset__label--tel::after {
  @include fieldset-type-line;
}

.contact-data-fieldset__label--email::after {
  @include fieldset-type-line;
  left: 81px;
}

.contact-data-fieldset__input {
  height: 50px;
  border: none;
  border-bottom: 1px solid $black;
  width: 100%;
}

@media (min-width: $tablet) {
  .contact-data-fieldset {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $bg-color-gray;
  }

  .contact-data-fieldset__element {
    display: flex;
    margin-bottom: 0;
    height: 53px;
  }

  .contact-data-fieldset__label--tel,
  .contact-data-fieldset__label--email {
    width: 167px;
    padding-top: 20px;
  }

  .contact-data-fieldset__label--tel::after,
  .contact-data-fieldset__label--email::after {
    display: none;
  }

  .contact-data-fieldset__input {
    flex-grow: 1;
    background-color: transparent;
  }
}

@media (min-width: $desktop) {
  .contact-data-fieldset__label--tel,
  .contact-data-fieldset__label--email {
    width: 175px;
    text-align: center;
  }

  .contact-data-fieldset {
    padding-right: 175px;
  }

  .contact-data-fieldset__input {
    width: 700px;
  }
}
