.contact-items {
  @include outline;
}

@media (min-width: $tablet) {
  .contact-items {
    display: flex;
  }
  .contact-items-row {
    width: 334px;
  }
}

@media (min-width: $desktop) {
  .contact-items {
    flex-direction: column;
  }
}
