.contact-items {
  line-height: $main-lineheight + 6;
  margin-bottom: 40px;
}

@media (min-width: $tablet) {
  .contact-items {
    display: flex;
  }

  .contact-items-row {
    width: 334px;
  }
}

@media (min-width: $desktop) {
  .contact-items {
    flex-direction: column;
    margin: 0;
  }
}
