.contact-items-row {
  display: flex;
}

.contact-items-row__left-cell {
  display: inline-block;
  width: 78px;
}

.contact-items-row__right-cell {
  display: inline-block;
  width: 180px;
}

.contact-items-row__right-cell {
  border-bottom: 1px solid $tiffany-darker;
}

.contact-items-row:last-of-type .contact-items-row__right-cell {
  width: 142px;
  border-bottom: none;
}

@media (min-width: $tablet) {
  .contact-items-row:first-of-type {
    height: 30px;
  }
}
