.copyright {
  @include outline;

  padding: 22px 0;
}

.copyright__span {
  font-size: $main-fontsize + 4;
  line-height: $main-lineheight - 6;
  font-weight: bold;
}

@media (min-width: $tablet) {
  .copyright {
    padding: 0;
    height: 36px;
    vertical-align: bottom;
  }
}
