.goods-list {
  @include outline;
  @include no-list-style;

  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop) {
  .goods-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
