.goods-list {
  @include no-list-style;

  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  margin-top: 30px;
}

@media (min-width: $tablet) {
  .goods-list {
    width: 668px;
    margin-top: 84px;
  }
}

@media (min-width: $desktop) {
  .goods-list {
    width: 1050px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 132px;
  }
}
