.goods-item {
  @include outline;

  display: flex;
  flex-direction: column;
}

.goods-item__order-item {
  width: 20px;
  height: 20px;
}

.goods-item__item-description {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .goods-item {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .goods-item__right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .goods-item__image-link {
    width: 50%;
  }
}

@media (min-width: $desktop) {
  .goods-item {
    width: 348px;
  }
}
