.info-list {
  @include no-list-style;
  display: block;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: $tablet) {
  .info-list {
    width: 668px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

@media (min-width: $desktop) {
  .info-list {
    width: 1050px;
    // margin-top: 350px;
  }
}
