.info {
  // margin-bottom: 8px;
  background-color: $bg-color-light-gray;
  // top: -20px;
}

.info-wrapper {
  position: relative;
  background-image: url("../img/hero-mobile@1x_result.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 490px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x_result.jpg");
    background-size: 575px auto;
  }
}

.info__heading {
  font-size: $main-fontsize + 12;
  line-height: $main-lineheight + 6;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

@media (min-width: $tablet) {
  .info {
    margin-bottom: 25px;
  }

  .info-wrapper {
    position: relative;

    @include wrapper-tablet;
    height: 670px;
    background-image: url("../img/hero-tablet@1x_result.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x_result.jpg");
      background-size: 1150px auto;
    }
  }

  .info-wrapper::after {
    position: absolute;
    left: 0;
    bottom: -12px;
    content: "";
    height: 30px;
    width: 100%;
    background-image: url("../img/bg-zigzag-fill-tablet.svg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .info__heading {
    width: 505px;
    font-size: $main-fontsize + 28;
    line-height: $main-lineheight + 26;
    padding-top: 85px;
  }
}

@media (min-width: $desktop) {
  .info {
    margin-bottom: 55px;
  }

  .info-wrapper {
    @include wrapper-desktop;
    height: 663px;
    background-image: url("../img/hero-desktop@1x_result.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x_result.jpg");
      background-size: cover;
    }
  }

  .info__heading {
    width: 620px;
    font-size: $main-fontsize + 38;
    line-height: $main-lineheight + 31;
    padding-top: 80px;
  }

  .info-wrapper::after {
    bottom: -20px;
    height: 37px;
    background-image: url("../img/bg-zigzag-fill.svg");
  }
}
