.info {
  height: 490px;

  background-color: $bg-color-light-gray;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.info-list {
  width: 100%;
}

.info__heading {
  font-size: $main-fontsize + 12;
  line-height: $main-lineheight + 6;
  font-weight: bold;
  margin: 0;
  padding-top: 76px;
  text-align: center;
}

@media (min-width: $tablet) {
  .info {
    margin-bottom: 50px;
  }

  .info__heading {
    width: 496px;
  }
}

@media (min-width: $desktop) {
  .info {
    margin-bottom: 76px;
    height: 745px;
  }

  .info__heading {
    width: 609px;
    font-size: $main-fontsize + 38;
    line-height: $main-lineheight + 31;
    padding-top: 165px;
    // margin-bottom: 354px;
  }
}
