.info-list {
  @include no-list-style;
}

@media (min-width: $tablet) {
  .info-list {
    @include wrapper-tablet;
    display: flex;
    width: 668px;
  }

  .info-list li {
    flex-grow: 1;
  }
}
