.interiors {
  background-color: $tiffany;
  padding: 28px 0;
  vertical-align: bottom;
}

.interiors:hover {
  padding-bottom: 33px;
}

.interiors:active .interiors__span {
  opacity: 0.5;
}

.interiors a {
  display: flex;
  color: $white;
  text-decoration: none;
  font-size: $main-fontsize + 4;
  font-weight: bold;
  position: relative;
}

.interiors__span {
  width: 130px;
}

.interiors__span::after {
  content: "";
  width: 40px;
  height: 62px;
  position: absolute;
  top: -5px;
  right: 36px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet) {
  .interiors {
    display: inline-block;
    width: 50%;
  }

  .interiors a {
    padding-left: 35px;
    font-size: $main-fontsize + 5;
    line-height: $main-lineheight + 6;
    font-weight: bold;
  }

  .interiors__span::after {
    top: 0;
  }
}

@media (min-width: $desktop) {
  .interiors {
    padding: 26px 0;
  }

  .interiors a {
    padding: 0 35px;
  }

  .interiors__span {
    font-size: $main-fontsize  + 5;
    line-height: $main-lineheight + 6;
  }

  .interiors__span::after {
    right: 35px;
  }
}
