.order-form {
  @include outline;
  font-size: $main-fontsize + 2;
  line-height: $main-lineheight - 6;
  font-weight: bold;
  color: $black;
  padding-bottom: 55px;
}

.order-form__fieldset {
  @include no-fieldset-style;
}

.order-form__textarea-label,
.order-form__textarea {
  display: block;
}

.order-form__textarea-label {
  color: $tiffany;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.order-form__textarea {
  width: 245px;
  padding: 0;
  padding-left: 15px;
  padding-top: 17px;
  margin-bottom: 20px;
}

.order-form__footnote {
  font-size: $main-fontsize - 1;
  line-height: $main-lineheight - 10;
  font-weight: 400;
  display: block;
  margin-bottom: 30px;
}

@media (min-width: $tablet) {
  .order-form {
    padding-bottom: 50px;
  }

  .order-form__textarea-fieldset {
    display: flex;
    padding-top: 50px;
  }

  .order-form__textarea-label {
    width: 167px;
    margin-top: 20px;
    margin-bottom: 53px;
  }

  .order-form__textarea {
    flex-grow: 1;
    margin-bottom: 53px;
  }

  .order-form__submit {
    display: flex;
    justify-content: space-between;
  }

  .order-form__footnote {
    order: 1;
  }
}

@media (min-width: $desktop) {
  .order-form__textarea-label {
    width: 175px;
    margin-bottom: 50px;
    text-align: center;
  }

  .order-form__submit {
    margin-left: 175px;
    margin-right: 175px;
  }

  .order-form__textarea {
    margin-right: 175px;
    margin-bottom: 50px;
  }
}
