.order-modal {
  padding: 0 30px;
  padding-top: 27px;
}

.order-modal__size {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.order-modal__label {
  display: block;
  padding: 16px 0;
  width: 79px;
  border: 1px solid $header-border-color;
  background-color: $white;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  font-size: $main-fontsize + 2;
  line-height: $main-lineheight - 8;
  font-weight: bold;
}

.order-modal__label:hover {
  border-color: $placeholder-color;
}

.order-modal__label:active {
  border-color: $tiffany-darker;
}

.order-modal__input--s:checked ~ .order-modal__label[for="s"],
.order-modal__input--m:checked ~ .order-modal__label[for="m"],
.order-modal__input--l:checked ~ .order-modal__label[for="l"] {
  border-color: $tiffany;
}

.order-modal__button {
  @include main-btn;

  width: 260px;
  border: none;
  background-color: $tiffany;
  color: $white;
  margin: 0 auto;
  margin-top: 30px;
  font-size: $main-fontsize + 2;
  line-height: $main-lineheight - 8;
  cursor: pointer;
}

@media (min-width: $tablet) {
  .order-modal__size {
    width: 350px;
  }

  .order-modal__label {
    width: 112px;
  }

  .order-modal__button {
    width: 350px;
  }
}
