.order-form {
  @include outline;
}

.order-form__fieldset {
  @include no-fieldset-style;
}

.order-form__textarea-label,
.order-form__textarea {
  display: block;
}

@media (min-width: $tablet) {
  .order-form__textarea-fieldset {
    display: flex;
  }

  .order-form__textarea-label {
    width: 167px;
  }

  .order-form__textarea {
    flex-grow: 1;
  }

  .order-form__submit {
    display: flex;
    justify-content: space-between;
  }

  .order-form__footnote {
    order: 1;
  }
}

@media (min-width: $desktop) {
  .order-form__textarea-label {
    width: 175px;
  }

  .order-form__submit {
    margin-left: 175px;
    margin-right: 175px;
  }

  .order-form__textarea {
    margin-right: 175px;
  }
}
