.page-header {
  @include outline;

  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .page-header {
    flex-direction: row;
  }

  .page-header__logo {
    min-width: 370px;
  }

}
