.page-list {
  @include outline;
  @include no-list-style;
}

.page-list__item:nth-child(5),
.page-list__item:last-child {
  display: none;
}

.page-list__item {
  @include outline;

  padding-left: 45px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.page-list__item a {
  text-decoration: none;
}

// @media (min-width: $tablet) {
//   .page-list__item:nth-child(5),
//   .page-list__item:last-child {
//     display: block;
//   }
// }
