.page-footer {
  background-color: $bg-color-gray;
}

.page-footer__image {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    @include wrapper-tablet;

    width: 668px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;
    padding-top: 50px;
  }

  .page-footer__image {
    display: block;
    width: 113px;
    height: 37px;
    background-image: url("../img/logo-footer.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .page-footer__image:hover {
    background-image: url("../img/logo-footer-hover.svg");
  }

  .page-footer__image:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop) {
  .page-footer__wrapper {
    @include wrapper-desktop;

    width: 1050px;
    padding-bottom: 57px;
    padding-top: 50px;
  }
}
