.page-header {
  @include outline;

  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
  // padding-left: 86px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .page-header {
    flex-direction: row;
  }

  .page-header__logo {
    min-width: 370px;
  }
}
