.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid $header-border-color;
  border-bottom: 1px solid $header-border-color;
}

.page-header__logo a {
  display: block;
  width: 86px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .page-header {
    flex-direction: row;
  }

  .page-header__logo {
    min-width: 370px;
  }
}
