.page-main {
}

.page-main__manufacturing-process {
  display: flex;
  flex-direction: column;
}

.page-main__heading {
  margin: 0;
  font-size: $main-fontsize + 12;
  line-height: $main-lineheight + 4;
  text-align: center;
  padding: 78px 0;
  background-color: $bg-color-gray;
}

.page-main__form-pretext {
  margin: 30px 0;
  padding-right: 0;
  width: 262px;
  font-size: $main-fontsize - 2;
}

@media (min-width: $tablet) {
  .page-main__heading {
    padding-top: 106px;
    padding-bottom: 76px;
  }
}

@media (min-width: $desktop) {
  .page-main__heading {
    padding-top: 106px;
    padding-bottom: 72px;
    font-size: $main-fontsize + 38;
    line-height: $main-lineheight + 31;
  }

  .page-main__form-pretext {
    margin-top: 133px;
    font-size: $main-fontsize + 2;
    line-height: $main-lineheight + 4;
    margin-bottom: 43px;
    margin-left: 175px;
    margin-right: 175px;
  }

  .page-main__manufacturing-process {
    flex-wrap: wrap;
    height: 454px;
  }
}
