.page-main {
  @include outline;
}

.page-main__manufacturing-process {
  display: flex;
  flex-direction: column;
}

.page-main__heading {
  margin: 0;
  font-size: $main-fontsize + 12;
  line-height: $main-lineheight + 4;
  text-align: center;
  padding: 78px 0;
  background-color: $bg-color-gray;
}

@media (min-width: $tablet) {
  .page-main__heading {
    padding-top: 106px;
    padding-bottom: 76px;
  }
}

@media (min-width: $desktop) {

  .page-main__manufacturing-process {
    flex-wrap: wrap;
    height: 454px;
  }

  .page-main__form-pretext {
    margin-left: 175px;
    margin-right: 175px;
  }
}
