.page-footer {
  background-color: $bg-color-gray;
}

.page-footer__image {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    @include wrapper-tablet;

    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;
    padding-top: 50px;
  }

  .page-footer__image {
    display: block;
  }
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    @include wrapper-desktop;

    padding-bottom: 57px;
    padding-top: 50px;
  }
}
