.page-navigation {
  font-size: $main-fontsize + 2;
  font-weight: bold;

  @include outline;
}

.page-navigation__span {
  display: none;
}

@media (min-width: $tablet) {
  .page-navigation {
    flex-grow: 1;
  }

  .page-navigation__close-btn,
  .page-navigation__toggle-btn {
    display: none;
  }

  .page-navigation__span {
    display: block;
  }
}
