.page-main {
    @include outline;
}

.page-main__manufacturing-process {
  display: flex;
  flex-direction: column;
}

.page-main__heading {
  margin: 0;
}

@media (min-width: $desktop) {
  .page-main__manufacturing-process {
    flex-wrap: wrap;
    height: 454px;
  }
}
