.personal-data-fieldset {
  @include outline;
}

.personal-data-fieldset__input,
.personal-data-fieldset__label {
  display: block;
}

.personal-data-fieldset__name {
  color: $tiffany;
  text-transform: uppercase;

}

.personal-data-fieldset__form {
  padding: 33px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 251px;
}

.personal-data-fieldset__input {
  height: 50px;
  border: 1px solid $black;
  width: 100%;
}

.personal-data-fieldset__label {
  padding-bottom: 5px;
}

@media (min-width: $tablet) {
  .personal-data-fieldset {
    display: flex;
    flex-direction: row;
    padding-top: 68px;
  }

  .personal-data-fieldset__fieldset {
    display: flex;
  }

  .personal-data-fieldset__name {
    width: 167px;
  }

  .personal-data-fieldset__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .personal-data-fieldset__form-element {
    display: flex;
  }

  .personal-data-fieldset__input {
    flex-grow: 1;
  }

  .personal-data-fieldset__label {
    margin-right: 25px;
  }
}

@media (min-width: $desktop) {
  .personal-data-fieldset__name {
    width: 175px;
  }

  .personal-data-fieldset {
    margin-right: 175px;
  }
}
