.process {
  @include outline;

  padding-bottom: 35px;
}

.process__heading {
  margin: 0;
}

.process__video-link {
  display: block;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
}

  .process__make-order {
    text-decoration: none;
    text-align: center;
  }

@media (min-width: $tablet) {
  .process {
    padding-bottom: 45px;
  }

  .process__video-link {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    margin-bottom: 40px;
  }

  .process__heading {
    order: 2;
    padding-left: 105px;
    font-size: $main-fontsize + 5;
    margin-bottom: 40px;
  }

  .process__text {
    margin: 0;
    padding: 0 38px;
    order: 3;
    line-height: $main-lineheight + 6;
    margin-bottom: 40px;
  }

  .process__make-order {
    order: 4;
    padding: 0 38px;
  }
}


@media (min-width: $desktop) {
  .process {
    height: 455px;
    padding: 0;
  }

  .process__heading,
  .process__text,
  .process__make-order {
    width: 230px;
    padding-left: 79px;
  }

  .process__heading {
    padding-top: 100px;
    margin-bottom: 0;
  }

  .process__text {
    padding-top: 42px;
    padding-bottom: 49px;
    margin-bottom: 0;
  }

  .process__video-link {
    width: 700px;
    height: 454px;
  }
}
