.process {
  padding-bottom: 32px;
  width: 260px;
  margin: 0 auto;
  border: 1px solid $header-border-color;
  margin-bottom: 57px;
}

.process__heading {
  margin: 0;
  padding-left: 90px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: $main-fontsize + 2;
}

.process__video-link {
  display: block;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.process__make-order {
  @include main-btn;

  width: 192px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
}

.process__text {
  padding-left: 34px;
  margin-top: 34px;
  margin-bottom: 28px;
  width: 184px;
  font-size: $main-fontsize - 2;
}

@media (min-width: $tablet) {
  .process {
    padding-bottom: 45px;
    width: 668px;
  }

  .process__video-link {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    margin-bottom: 40px;
  }

  .process__heading {
    order: 2;
    padding-left: 105px;
    font-size: $main-fontsize + 5;
    margin-bottom: 40px;
  }

  .process__text {
    width: 668px;
    box-sizing: border-box;
    margin: 0;
    padding: 0 40px;
    order: 3;
    line-height: $main-lineheight + 6;
    margin-bottom: 40px;
  }

  .process__make-order {
    order: 4;
    padding: 14px 38px;
    width: 584px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop) {
  .process {
    height: 590px;
    width: 1050px;
    padding: 0;
  }

  .process__make-order {
    width: 230px;
    margin-left: 80px;
  }

  .process__heading {
    width: 230px;
    padding-left: 79px;
    padding-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .process__text {
    width: 314px;
    padding-top: 40px;
    padding-left: 79px;
    padding-bottom: 49px;
    margin-bottom: 0;
  }

  .process__video-link {
    width: 700px;
    height: 454px;
  }
}
