.reviews {
  padding-bottom: 35px;
}

.reviews__heading {
  margin: 0;
  margin-bottom: 22px;
  font-size: $main-fontsize + 10;
  line-height: $main-lineheight + 6;
}

.reviews__toggle {
  display: flex;
  justify-content: center;
}

.reviews__prev-btn,
.reviews__next-btn {
  width: 132px;
  margin-bottom: 37px;
  height: 50px;
  border: 1px solid $header-border-color;
  box-shadow: none;
  background-color: $white;
}

.reviews__prev-btn {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__next-btn {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__write-review {
  @include main-btn;
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 67px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    position: relative;
  }

  .reviews__heading {
    order: 0;
    padding-top: 86px;
    font-size: $main-fontsize + 28;
    line-height: $main-lineheight + 26;
    width: 185px;
  }

  .reviews__write-review {
    position: absolute;
    top: 95px;
    right: 50px;
    order: 1;
    width: 175px;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__toggle {
    position: absolute;
    bottom: 80px;
    right: 50px;
    order: 3;
    width: 167px;
  }

  .reviews__prev-btn,
  .reviews__next-btn {
    border: none;
  }
}

@media (min-width: $desktop) {
  .reviews {
    padding-bottom: 100px;
  }

  .reviews__desktop-wrapper {
    margin-left: 175px;
  }

  .reviews__heading {
    padding-top: 80px;
    font-size: $main-fontsize + 38;
    line-height: $main-lineheight + 31;
  }
}
