.reviews {
  @include outline;
}

.reviews__heading {
  margin: 0;
}

@media (min-width: $tablet) {
  .reviews {
    display: flex;
    flex-direction: column;
  }

  .reviews__heading {
    order: 0;
  }

  .reviews__write-review {
    order: 1;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__toggle {
    order: 4;
  }
}
