.social {
  @include outline;
  padding: 26px 0;
}

.social__list {
  @include no-list-style;
  display: flex;
  justify-content: space-around;
}

.social__item {
  width: 20px;
  height: 20px;
  text-align: center;
}
