.type-fieldset {
  @include outline;
}

.type-fieldset__name {
  color: $tiffany;
  text-transform: uppercase;
}

.type-fieldset__form {
  padding-top: 37px;
  padding-bottom: 14px;
  padding-left: 62px;
}

.type-fieldset__label {
  display: block;
  margin-bottom: 30px;
}

@media (min-width: $tablet) {
  .type-fieldset {
    display: flex;
    flex-direction: row;
  }

  .type-fieldset__fieldset {
    display: flex;
  }

  .type-fieldset__name {
    width: 167px;
  }
}

@media (min-width: $desktop) {
  .type-fieldset__name {
    width: 175px;
  }
}
