@mixin outline {
  outline: 1px solid gray;
}

@mixin main-padding-lr {
  padding-left: 30px;
  padding-right: 30px;
}

@mixin wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

@mixin no-list-style {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
