$main-font: "Open Sans", "Arial", sans-serif;
$main-fontsize: 15px;
$main-lineheight: 24px;

$bg-color-gray: #f1f1f1;
$bg-color-light-gray: #f9f9f9;
$main-text-color: #444444;
$placeholder-icon-gray: #cccccc;
$menu-icon-gray: #d3d2d2;
$header-border-color: #ececec;
$footer-border-color: #e5e5e5;
$placeholder-color: #c7c7c7;
$social-icon-color: #221f1f;
$black: #000000;
$white: #ffffff;
$tiffany: #63d1bb;
$tiffany-darker: #62d1ba;
$tiffany-darkerer: #56c3b2;
$tiffany-interior-icon: #3bb09d;
$tiffany-toy-icon: #35a999;

$mobile: 320px;
$tablet: 768px;
$desktop: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
